@{
    ViewBag.Title = "Output";
}

<div>
    <h4>Outputs of : </h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.ActionLink("Rooms", "RoomsIndex")
            <br />
            @Html.ActionLink("Exams", "Exams")
            <br />
        </dd>
    </dl>
</div>