@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>RN Shetty Institute of Technology</h3>

<address>
    Dr.Vishnuvardhan Road, Rajarajeshwarinagar<br />
    Channasandra, Bengaluru, Karnataka 560098<br />
    <abbr title="Phone">P:</abbr>
    080.2861.1800
</address>

<address>
    <strong>Aikya Software Wing:</strong>   <a href="mailto:aikya.software.wing@gmail.com">aikya.software.wing@gmail.com</a><br />
</address>